<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections></configSections>
	<connectionStrings>
    <add name="MedinetClassLibrary.Properties.Settings.HRMEDINET_SITEConnectionString"
     connectionString="Data Source=SERVER\GLOBAL;Initial Catalog=HRMEDINET_SITE;Persist Security Info=True;User ID=sa;Password=S4intGAC"
     providerName="System.Data.SqlClient" />
    <!--<add name="MedinetClassLibrary.Properties.Settings.HRMEDINET_SITEConnectionString"
     connectionString="Data Source=107.180.102.110,1433;Initial Catalog=HRMEDINET_SITE;Persist Security Info=True;User ID=hrmedinet_app;Password=7E6n1ab%"
     providerName="System.Data.SqlClient" />-->
    <!--<add name="MedinetClassLibrary.Properties.Settings.HRMEDINET_SITEConnectionString"
     connectionString="Data Source=localhost,1433;Initial Catalog=HRMEDINET_SITE;Persist Security Info=True;User ID=hrmedinet_app;Password=7E6n1ab%"
     providerName="System.Data.SqlClient" />-->
 </connectionStrings>
</configuration>