<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <configSections></configSections>
	<connectionStrings>
    <add name="MedinetClassLibrary.Properties.Settings.HRMEDINET_SITEConnectionString"
      connectionString="Data Source=localhost\sqlexpress;Initial Catalog=hrmedinet_quality;Persist Security Info=True;User ID=hrmedinet_quality_app;Password=Iae*o027"
      xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
 </connectionStrings>
</configuration>