ul#nav {
    display:block;
    float:left;
    font-size:0;
    padding:0; 
}
ul#nav,ul#nav ul {
    list-style:none;
    margin:0;
}
ul#nav,ul#nav .subs {

}
    ul#nav .subs {
        background-color: #fff;
        border: 2px solid #01A0E4;
        display: none;
        float: left;
        left: 0;
        padding: 0 6px 6px;
        position: absolute;
        top: 100%;
        /*width:85%;*/
        z-index: 10;
        border-radius: 7px;
        -moz-border-radius: 7px;
        -webkit-border-radius: 7px;
    }
ul#nav li:hover>* {
    display:block;
}
ul#nav li:hover {
    position:relative;
}
ul#nav ul .subs {
    left:100%;
    position:absolute;
    top:0;
}
ul#nav ul {
    padding:0 5px 5px;
}
ul#nav .col {
    float:left;
    width:50%;
}
ul#nav li {
    display:block;
    float:left;
    font-size:0;
    white-space:nowrap;
}
    ul#nav li:hover, ul#nav li:focus {
        text-shadow: none;
        outline: none;
    }
ul#nav>li,ul#nav li {
    margin:0;
}
ul#nav ul>li {
    margin:5px 0 0;
}
ul#nav a:active,ul#nav a:focus {
    outline-style:none;
}
    ul#nav a {
        border-style: none;
        border-width: 0;
        color: #4B4B4B;
        cursor: pointer;
        display: block;
        font-size: 15px;
        font-weight: bold;
        padding: 0 3px;
        margin: 10px 15px 0 0;
        text-align: left;
        text-decoration: none;
        text-shadow: #fff 2px 1px;
        vertical-align: middle;
        border-bottom: 2px solid #01A0E4;
        box-shadow: 0 5px 0px -3px #fff;
    }
ul#nav ul li {
    float:none;
    margin:6px 0 0;
}
    ul#nav ul a {
        background-color: #fff;
        border-color: #efefef;
        border-style: solid;
        border-width: 0 0 1px;
        color: #4B4B4B;
        font-size: 13px;
        padding: 4px;
        margin: 0;
        text-align: left;
        text-decoration: none;
        text-shadow: #fff 0 0 0;
        border-radius: 0;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
    }
    ul#nav li:hover > a {
        border-style: none;
        color: #fff;
        font-weight: bold;
        text-decoration: none;
        text-shadow: none;
    }
ul#nav img {
    border:none;
    margin-right:8px;
    vertical-align:middle;
}
ul#nav span {
    background-position:right center;
    background-repeat:no-repeat;
    display:block;
    overflow:visible;
    padding-right:0;
}
ul#nav ul span {
    background-image:url("../images/arrow.png");
    padding-right:20px;
}
ul#nav ul li:hover>a {
    border-color:#444;
    border-style:solid;
    color:#444;
    /*font-size:11px;*/
    text-decoration:none;
    text-shadow:#fff 0 0 0;
}
ul#nav > li > a {
    background-color:transparent;
    height:22px;
    line-height:25px;
}
    ul#nav > li:hover > a {
        background-color: #01A0E4;
        line-height: 25px;
    }